<div class="mt-4" >
        <div class="formnhap" >
            <div class="form-row">
                <div class="col">
                    <label for="email" >Nhập email</label>
                    <input type="email" class="form-control" id="email" name="email" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="hoTen" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="hoTen"name="hoTen" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="gioiTinh" class="form-label">Giới tính</label>
                    <input type="text" class="form-control" id="gioiTinh"name="gioiTinh" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="lop" class="form-label">Lớp</label>
                    <input type="text" class="form-control" id="lop"name="lop" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="img" class="form-label">Image</label>
                    <input type="text" class="form-control" id="img"name="img" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="description" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" id="description"name="description" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="tinhtrang" class="form-label">Tình trạng</label>
                    <input type="text" class="form-control" id="tinhTrang" name="tinhTrang" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="soLuongKhoaHoc" class="form-label">Số lượng khóa học</label>
                    <input type="text" class="form-control" id="soLuongKhoaHoc" name="soLuongKhoaHoc" style="width: 500px;">
                </div>

            </div>
            <div class="them" style="text-align: center;">
                <button type="submit" onclick="addTeach()" class="btn btn-outline-success" style="width: 1400px; margin-top: 50px;">Thêm</button>
            </div>
        </div>
   
    
    
</div>
<script>
    function addTeach() {
        var email = $('#email').val();
        var hoTen = $('#hoTen').val();
        var sex = $('#gioiTinh').val();
        var classes = $('#lop').val();
        var image =$('#img').val();
        var moTa = $('#description').val();
        var trangThai = $('#tinhTrang').val();
        var quantity = $('#soLuongKhoaHoc').val();
        if(email.trim() === ''||hoTen.trim() === ''|| sex.trim() === ''||classes.trim() === ''||image.trim() === ''||moTa.trim() === ''||trangThai.trim() === ''||quantity.trim() === '')
        {
            alert('Điền đầy đủ thông tin không được để rỗng');
            return;
        }
        $.ajax({
            url:'/editteachers/create/insert',
                type: 'POST',
                data:{
                    email:email,
                    hoTen:hoTen,
                    gioiTinh:sex,
                    lop:classes,
                    img:image,
                    description:moTa,
                    tinhTrang : trangThai,
                    soLuongKhoaHoc : quantity
                }
        })
        .then((data)=>{
            if(data.code === 200)
            {
                alert('Thêm thành công');
                window.location.href = '/editteachers' 
            }
            else if (data.code === 501){
                alert('Trùng email')
            }
            else{
                alert('ERROR')
            }

        })
        .catch(error =>{
            alert('ERROR!!!')
        })

    }

</script>
