<div class="mt-4" >
        <form method="post" action="/editteachers/create/insert" class="formnhap" >
            <div class="form-row">
                <div class="col">
                    <label for="id" >Nhập Id</label>
                    <input type="text" class="form-control" id="_id" name="_id" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="hoTen" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="hoTen"name="hoTen" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="gioiTinh" class="form-label">Giới tính</label>
                    <input type="text" class="form-control" id="gioiTinh"name="gioiTinh" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="lop" class="form-label">Lớp</label>
                    <input type="text" class="form-control" id="lop"name="lop" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="img" class="form-label">Image</label>
                    <input type="text" class="form-control" id="img"name="img" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="description" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" id="description"name="description" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="tinhtrang" class="form-label">Tình trạng</label>
                    <input type="text" class="form-control" id="tinhTrang" name="tinhTrang" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="soLuongKhoaHoc" class="form-label">Số lượng khóa học</label>
                    <input type="text" class="form-control" id="soLuongKhoaHoc" name="soLuongKhoaHoc" style="width: 500px;">
                </div>

            </div>
            <div class="them" style="text-align: center;">
                <button type="submit" class="btn btn-outline-success" style="width: 1400px; margin-top: 50px;">Thêm</button>
            </div>
        </form>
   
    
    
</div>