<div class="mt-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: rgb(0, 153, 255); width: 1500px; border-radius: 30px ">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner tableroll" >
            <div class="carousel-item active" >
                 <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >Khóa học HTML CSS Pro</h4>
                    <p></p><br>
                    <p >Đây là khóa học đầy đủ và chi tiết nhất bạn có thể tìm thấy được ở trên Internet !</p>
                    <button type="button"  class="btn btn-outline-light">Tìm hiểu thêm</button>
                </div>
                <img class="img-title" src="https://files.fullstack.edu.vn/f8-prod/banners/20/6308a6bf603a4.png"  alt="First slide" >
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >Khóa học ReactJS Miễn Phí !</h4>
                    <p></p><br>
                    <p>Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể<br> làm hầu hết các dự án thường gặp với ReactJS</p>
                    <button type="button"  class="btn btn-outline-light">Tìm hiểu thêm</button>
                </div>
                <img class="img-title" src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png"  alt="Second slide" >
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >Thành Quả Của Học Viên</h4>
                    <p>Để đạt được kết quả tốt trong mọi việc ta cần xác định mục tiêu rõ ràng cho việc đó.Học lập trình cũng không là ngoại lệ!</p>
                    <button type="button"  class="btn btn-outline-light">Tìm hiểu thêm</button>
                </div>
                <img class="img-title " src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >F8 trên Facebook</h4>
                    <p>F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó</p>
                    <button type="button"  class="btn btn-outline-light">Truy cập đến FaceBook</button>
                </div>
                <img class="img-title " src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_04_2.png" alt="Fourth slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 30px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 30px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="mt-3 " style="  background-color: whitesmoke; width: 1400px; height: 1100px;" >
        <div class="header-course" style=" text-align: center;">
           <h3 style="font-weight: bold;margin-top: 40px;">Khóa học miễn phí</h3> 
        </div>
        
            
        <div class="course-free"  >

            {{#each sales}}
                <a href="/users/{{this.slug}}" class="click">
                    <div class="img-center">
                        <img src="{{this.img}}" alt="" style="border: 2px solid rgb(122, 166, 231);">
                            
                        <h5 style="text-align: center;">{{this.title}}</h5>
                    </div>   
                </a>
            {{/each}}
                
                   
                 
                 
            
                
                
             
        </div>
            
        
    </div>
</div>