


 
 <div class="container-fluid mt-2" style="">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: rgb(0, 153, 255); width: 1500px; border-radius: 30px ">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner tableroll" >
            <div class="carousel-item active" >
                 <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >Khóa học HTML CSS Pro</h4>
                    <p></p><br>
                    <p >Đây là khóa học đầy đủ và chi tiết nhất bạn có thể tìm thấy được ở trên Internet !</p>
                    <button type="button"  class="btn btn-outline-light">Tìm hiểu thêm</button>
                </div>
                <img class="img-title" src="https://files.fullstack.edu.vn/f8-prod/banners/20/6308a6bf603a4.png"  alt="First slide" >
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >Khóa học ReactJS Miễn Phí !</h4>
                    <p></p><br>
                    <p>Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể<br> làm hầu hết các dự án thường gặp với ReactJS</p>
                    <button type="button"  class="btn btn-outline-light">Tìm hiểu thêm</button>
                </div>
                <img class="img-title" src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png"  alt="Second slide" >
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >Thành Quả Của Học Viên</h4>
                    <p>Để đạt được kết quả tốt trong mọi việc ta cần xác định mục tiêu rõ ràng cho việc đó.Học lập trình cũng không là ngoại lệ!</p>
                    <button type="button"  class="btn btn-outline-light">Tìm hiểu thêm</button>
                </div>
                <img class="img-title " src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou"  >
                    <h4 >F8 trên Facebook</h4>
                    <p>F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó</p>
                    <button type="button"  class="btn btn-outline-light">Truy cập đến FaceBook</button>
                </div>
                <img class="img-title " src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_04_2.png" alt="Fourth slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 30px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 30px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden ">
        <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
                hsl(218, 41%, 35%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
                hsl(218, 41%, 45%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%);
            border-radius: 3%;
            width: 1500px;
        }
    
        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }
    
        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }
    
        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
           width: 500px;
        }
        </style>
        
        <div class="container-fl px-2 py-3 px-md-5 text-center text-lg-start my-2" > 
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        Welcome to <br />
                        <span style="color: hsl(218, 81%, 75%)">TeachWeb</span>
                    </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
                </div>
        
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            
        
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                    
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row" style="margin-top: 20px;">
                        <h1 class="mb-3 h3">Login</h1>
                        
                        </div>
        
                            <div class="form-group" >
                                <label for="" style="float: left;">UserName</label>
                                <input type="text" class="form-control" id="username" name="username"  placeholder="">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" style="float: left;">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
        
        
                        <!-- Submit button -->
                        <button type="submit"  onclick="login()" class="btn btn-primary btn-block mb-4 login">
                        Sign In
                        </button>
        
                        <!-- Register buttons -->
                        <div class="text-center">
                        <p>Don't have an account yet? <a href="/account/signup">Register</a></p>
                        
                        </div>
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>

 <script >
   
    
    function login() {
         $.ajax({
                url: '/account/signin/login',
                        type: 'POST',
                        data:{
                            username : $('#username').val(),
                            password :  $('#password').val(),
                        }
                    })
                    .then(data =>{
                        console.log(data)
                        
                    })
                    .catch(error =>{
                        console.log(error)
                })
    }
       
    

    
</script>

{{!-- <form action="/account/signin/login" method="POST"></form>
</form> --}}