<div class="container mt-5">
    <div class="avatar">
        <img src="{{teachers.img}}" alt="">
        <div class="HoTen">
            <h1>{{teachers.hoTen}}</h1>
            <p>Update your username and manage your account</p>
        </div> 
    </div> 
    <div class="col-lg-12 menu-and-treatment" style="display: flex; sans-serif;">
        <div class="col-lg-4 menus"style="margin-top: 10px;">
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;" href="/profiles/general">General</a></div>
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;" href="/profiles/editprofile">Edit Profile</a></div>
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;" href="/profiles/editpassword">Password</a></div>
            <div class='cut-across'></div>
            <div class='menu-item'  style= 'color : red; margin-left: 20px;width: 300px;'>Delete Account</div>
        </div>
        <div class="col-lg-8 " >
            
            <form style="margin-top: 20px;">
                <div class="form-group">
                    <label for="username">Old Password</label>
                    <input type="username" class="form-control" id="username"  > 
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">New Password</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Confirm New Password </label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                
                <button type="submit" class="btn btn-primary" style="float: right;">Save Change</button>
            </form>

        </div>
    </div>
</div>
