<div class="container mt-5">
    <div class="avatar">
        <img src="{{teachers.img}}" alt="">
        <div class="HoTen">
            <h1>{{teachers.hoTen}}</h1>
            <p>Update your username and manage your account</p>
        </div>
    
        
    </div>
    <div class="col-lg-12 menu-and-treatment" style="display : 'flex', font-family: 'Roboto', sans-serif;">
        <div class='col-lg-4 menus'>
            <Link class='link' to='/account/general'><div class='menu-item general active'>General</div></Link>
            <Link class='link' to='/account/edit-profile'><div class='menu-item edit-profile'>Edit Profile</div></Link>
            <Link class='link' to='/account/password'><div class='menu-item password'>Password</div></Link>
            <div class='cut-across'></div>
            <div class='menu-item'  style= 'color : red'>Delete Account</div>
        </div>
    </div>
   
    
    
</div>